**/**

!.gitignore
!README.md
!Makefile

!posts/
!posts/**

!tooling/
!tooling/**
tooling/**/built_posts/
tooling/**/built_posts/**

!POST_TEMPLATE/
!POST_TEMPLATE/**

!compiled_posts/
!compiled_posts/**

!**/.keep
!**/*.py
!**/*.template
!**/requirements.txt
